# python
.coverage
*/__pycache__
venv

# idea
.idea/
*.iml

# files
*.tmp
*.csv
*.json
*.xml
*.zip
*.log
*.png
*.jpg

# data folder
data/*
!data/.gitkeep

# tpch
./db_env/tpch/tpch_generator/tpch_tools/